@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Контактна форма V2</h1>
    <form>
  <div class="form-group">
    <label for="LastName">Прізвище</label>
    <input type="text" class="form-control" id="LastName" aria-describedby="lastNameHelp" placeholder="Прізвище">
    <small id="lastNameHelp" class="form-text text-muted">Введіть ваше прізвище</small>
  </div>
  <div class="form-group">
    <label for="firstName">Імя</label>
    <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp" placeholder="Імя">
    <small id="firstNameHelp" class="form-text text-muted">Введіть ваше імя</small>
  </div>
  <div class="form-group">
    <label for="MidleName">По батькові</label>
    <input type="text" class="form-control" id="MidleName" aria-describedby="MidleNameHelp" placeholder="По батьокві">
    <small id="MidleNameHelp" class="form-text text-muted">Введіть ваше імя по батькові</small>
  </div>
   <div class="form-group">
    <label for="Sex">Стать</label>
    <input type="text" class="form-control" id="Sex" aria-describedby="SexHelp" placeholder="Стать">
    <small id="SexHelp" class="form-text text-muted">Введіть вашу стать</small>
  </div>
   <div class="form-group">
    <label for="BirthDay">День народження</label>
    <input type="text" class="form-control" id="BirthDay" aria-describedby="BirthDayHelp" placeholder="День народження">
    <small id="BirthDayHelp" class="form-text text-muted">Введіть вашу дату народження</small>
  </div>
   <div class="form-group">
    <label for="City">Місто</label>
    <input type="text" class="form-control" id="City" aria-describedby="CityHelp" placeholder="Місто">
    <small id="CityHelp" class="form-text text-muted">Введіть ваше імя по батькові</small>
  </div>
   <div class="form-group">
    <label for="Contacts">Контакти</label>
    <input type="text" class="form-control" id="Contacts" aria-describedby="ContactsHelp" placeholder="Контакти">
    <small id="ContactsHelp" class="form-text text-muted">Введіть ваше імя по батькові</small>
  </div>
  <button type="submit" class="btn btn-primary">Відправити</button>
</form>

</div>
